.skills {
  /* background-color: antiquewhite; */
}
.skills-text {
  /* background-color: beige; */
}

.skill-card {
  display: flex;
  align-items: center;
  /* background-color: rgb(30, 30, 30); */
  border-radius: 12px;
  margin-top: 4px;
}
.skill-icon {
  width: 120px;
  height: 120px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.skill-icon.premiere img {
  transform: scale(1.2);
}
.skill-icon.davinci {
  transform: scale(0.7) !important;
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}
