.about-title {
  margin-top: 90px;
}
.skill-card {
  display: flex;
  align-items: center;
  /* background-color: rgb(30, 30, 30); */
  border-radius: 12px;
  margin-top: 4px;
}
.skill-icon {
  width: 120px;
  height: 120px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.skill-icon.premiere img {
  transform: scale(1.2);
}
.skill-icon.davinci {
  transform: scale(0.7) !important;
}
.contact-title {
  padding-top: 24px;
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}

.portfolio.section {
  display: none;
}

#blog {
  display: none;
}

.contact-form .contacto-form {
  border: none;
  border-bottom: 1px solid #383838;
}
#contact-submit:hover {
  background-color: rgb(173, 180, 243);
}
